.feynman {
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 890px;
  background: no-repeat url('../../images/feynman.png') 0 100%/867px 637px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
