.header {
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}
