.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  vertical-align: top;
  transition: opacity linear 1s;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
